#homePage{
    background-color: #fffefe;
}

#banner{
    width: 100%;
    background-image: url("./picture/background4.png");
    height: 463px;
    margin-top: 90px;
    display: flex;
    padding: 0px 133px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    
}
#banner .box-left, #banner .box-right{
    width: 50%;
}
#banner .box-left h2{
    font-size: 55px;
    margin-top: 100px;
    color: rgb(255, 255, 255);
}
#banner .box-left p{
    color: white;
}
#banner .box-left button{
    width: 191px;
    height: 40px;
    margin-top: 41px;
    border: none;
    outline: none;
    color: rgb(87, 87, 87);
    font-weight: bold;
    border-radius: 20px;
    position: 0.4s;
    transition: background-position 0.3s;
    background-image: linear-gradient(to right, orange, #e6e2e2);
    background-size: 200% 100%;
    background-position: -100%;
}
#banner .box-left button:hover{
    background-position: 100%;
}
#banner .box-right{
    padding-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner .box-right img{
    border-radius: 20px;
    width: 90px;
    height: 300px;
    margin: 0px 10px;
    animation: animation 3s infinite linear;
}
#banner .box-right .mid{
    height: 350px;
}
#banner .box-right img:nth-child(1){
animation-delay: 0.5s;
}
#banner .box-right img:nth-child(2){
    animation-delay: 1s;
}

@keyframes animation{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
.introduct-one button{
    margin-top: 130px;
    margin-bottom: 30px;
}
#name{
    margin-left: 40px;
    margin-top: 70px;
    margin-bottom: -10px;
}
#icons{
    text-align: center;
    list-style: none;
    display: flex;
    margin-top: 50px;
    
}
#icons .sale{
    
    max-width: 90px;
    margin-right: 100px;
    margin-top: 40px;
}
#icons .picture{
    text-align: center;
  align-items: center;
    border-radius: 20%;
    border: 1px solid rgb(214, 214, 214);
    padding: 10px;
}
#icons .picture:hover{
    box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.3);
    
}
#icons .saleFirst{
    margin-left: 220px;
}

// .introduce-product button{
//     margin-top: -190px;
//     margin-bottom: 20px;
// }
.introduce-product button{
    
    border: none;
    outline: none;
    color: rgb(87, 87, 87);
    font-weight: bold;
    border-radius: 20px;
    position: 0.4s;
    margin-top: 40px;
    transition: background-position 0.3s;
    background-image: linear-gradient(to right, orange, #e6e2e2);
    background-size: 200% 100%;
    background-position: -100%;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}
.introduce-product  button:hover{
    background-position: 100%;
}
#carousel{
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
}
#wp-product{
    padding-top: 116px;
    padding-bottom: 78px;
    padding-left: 134px;
    padding-right: 134px;
}
#wp-product h2{
    text-align: center;
    margin-top: -60px;
    margin-bottom: 80px;
    font-size: 60px;
    color: rgb(58, 58, 58);
}

.dropdown{
    margin-right: 6px;
    
}
#dropdown-basic{
    margin-left: -35px;
}
 .dropdown-toggle {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(236, 236, 236);
    color: black;
}
.dropdown-toggle:hover {
    background-color: white;
    color: #626A67;
    border: 1px solid rgb(236, 236, 236);
}
#list-product{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;    
    margin-top: 50px;
    
}
#list-product .product{
    transition: box-shadow 0.3s;
    width: 16rem;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: -20px;
    margin-bottom: 40px;
}
#list-product .product:hover .name{
    color: rgb(63, 63, 248);
}


#list-product .product button{
border-radius: 3px;
border: none;
background-color: rgb(255, 196, 86);
padding: 6px 10px;
margin-bottom: 8px;
font-style: italic;
}
#list-product .product:hover{
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
}
.price{
    color: red;
    font-size: 25px;
}

#list-product .item {
   border: 1px solid rgb(145, 145, 145);
   border-radius: 4px;
   padding: 2px;
}
#list-product .item img{
    display: block;
    margin: 0px auto;
    margin-top: 17px;
    
}
#list-product .name{
    margin-bottom: 8px;
}

#list-product .config{
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

#list-product .button-product:hover{
    background-color: orange;
    box-shadow: -5px 5px 10px rgb(187, 187, 187);
}
#list-product .config .item{
    font-size: 15px;
    margin: 0px 4px;
}
#list-product .config .item a{
    color: #626A67;
    text-decoration: none;
}
#list-product .starts{
    margin-bottom: 8px;
    margin-top: -20px;
}
.dropdown:active .btn-primary {
    background-color: rgb(218, 218, 218); 
    border: none;
    
}
  input:focus {
    border-color: #5f5f5f; /* Change border color on focus */
    
}
input:active {
    border: none; /* Set border to transparent on focus/click */
    
}

.searchProduct[type="text"],
.searchProduct[type="password"] {
    width: 70%;
    padding: 4px; 
    border: #8b8b8b;
    outline: rgb(255, 255, 255);
    border-radius: 4px;
    background-color: #ffffff;
    margin-left: 250px;
    border: 1px solid rgb(204, 204, 204);
  }

.buttonContainer {
    border: none;
    margin-left: 2px;
    height: 40px;
    border: 1px solid rgb(204, 204, 204);
    background-color: white;
  }

#menu{
    margin-bottom: 80px;
  }
#content{ 
    padding-bottom: 78px;
    padding-left: 134px;
    padding-right: 134px;
}
#content h2{
    text-align: center;
    margin-top: -30px;
    margin-bottom: 80px;
    font-size: 40px;
    color: rgb(58, 58, 58);
}
#content .content-p{
    margin-top: -50px;
}
#content .context{
    margin-top: -10px;
}

#footer{
    // background-color: white;
    padding-top: 20px;
    padding-bottom: 78px;
    padding-left: 134px;
    padding-right: 134px;
}
.footer{
    padding-top: 20px;
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 8px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: -80px;
}
.item1{
    margin-right: 80px;
    list-style: none;
    color: rgb(0, 0, 0);
    
}
.item-2{
    margin-top: -70px;
}
.item-3{
    margin-top: -140px;
}
.footer button{
    border: none;
    border-radius: 4px;
    padding-right: 5px;
    padding-left: 5px;
}
.footer button:hover{
    background-color: #a0a0a0;
}
.footer .context-footer{
    text-align: center;
    margin-top: 20px;
}
#dropdown-basic{
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.3);
}

