#wrapper{
    width: 100%;
}
#header{
    background-color: #ffffff;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid rgb(212, 212, 212);
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
  top: 0; /*Nằm trên cùng*/
  left: 0; /*Nằm sát bên trái*/
  z-index: 100000; /*Hiển thị lớp trên cùng*/
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
#menu{
    list-style: none;
    display: flex;  
    margin-left: 100px;
}
#actions .item img{
    margin-top: -40px;
    margin-right: 20px;
}
#actions .item svg{
    margin-top: -40px;
}
.legoLeft{
    max-width: 40px;
}
#menu .item{
    margin: 0px 25px;
    margin-top: 70px;
}
#menu .item a{
    color: #626A67;
    text-decoration: none;
}
#actions {
    list-style: none;
    display: flex;
}



#banner{
    width: 100%;
    // background-image: url("./picture/background4.png");
    height: 463px;
    margin-top: 90px;
    display: flex;
    padding: 0px 133px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    
}
#banner .box-left, #banner .box-right{
    width: 50%;
}
#banner .box-left h2{
    font-size: 55px;
    margin-top: 100px;
    color: rgb(255, 255, 255);
}
#banner .box-left p{
    color: white;
}
#banner .box-left button{
    width: 191px;
    height: 40px;
    margin-top: 41px;
    border: none;
    outline: none;
    color: rgb(87, 87, 87);
    font-weight: bold;
    border-radius: 20px;
    position: 0.4s;
    transition: background-position 0.3s;
    background-image: linear-gradient(to right, orange, #e6e2e2);
    background-size: 200% 100%;
    background-position: -100%;
}
#banner .box-left button:hover{
    background-position: 100%;
}
#banner .box-right{
    padding-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner .box-right img{
    border-radius: 20px;
    width: 90px;
    height: 300px;
    margin: 0px 10px;
    animation: animation 3s infinite linear;
}
#banner .box-right .mid{
    height: 350px;
}
#banner .box-right img:nth-child(1){
animation-delay: 0.5s;
}
#banner .box-right img:nth-child(2){
    animation-delay: 1s;
}

@keyframes animation{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
#actions .item{
    margin-top: 40px;
}
